{{!< default}} <div class="content">
    <table class="userTable">
        <thead>
            <tr>
                <td>Nombre</td>
                <td>Apellido</td>
                <td>Confirmacion</td>
                <td>Visitas</td>
                <td>Quota</td>
            </tr>
        </thead>
        <tbody class="users" id="users">
        </tbody>
    </table>
    </div>
    </div>
    {{#contentFor 'scripts'}}
    <script src="js/admin.js"></script> {{/contentFor}}