{{!< default}} 
<div class="content">
    <br/>
    <table class="program">
        <thead>
            <tr>
                <td colspan="3">Agenda Evento 30 años LIA</td>
            </tr>
            <tr>
                <td>Fecha</td>
                <td>Viernes 6 de julio</td>
                <td>Sabado 7 de Julio</td>
            </tr>
            <tr>
                <td>Horario</td>
                <td>Actividad</td>
                <td>Actividad</td>
            </tr>
        </thead>

        <tbody class="actvities">
            <tr>
                <td class="hour">14:00</td>
                <td rowspan="2">Comida Libre</td>
                <td rowspan="10">Comida en Terraza</td>
            </tr>
            <tr>
                <td class="hour">15:00</td>
            </tr>
            <tr>
                <td class="hour">16:00</td>
                <td>Registro Egresados, membresia y Foto (250 pesos minimo 10 personas</td>
            </tr>
            <tr>
                <td class="hour">17:00</td>
                <td>Ceremonia con autoridades UAG</td>
            </tr>
            <tr>
                <td class="hour">18:00</td>
                <td rowspan="5">Brindis en salon de Egresados</td>
            </tr>
            <tr>
                <td class="hour">19:00</td>
            </tr>
            <tr>
                <td class="hour">20:00</td>
            </tr>
            <tr>
                <td class="hour">21:00</td>
            </tr>
            <tr>
                <td class="hour">22:00</td>
            </tr>
            <tr>
                <td class="hour">23:00</td>
                <td>Bar Piano 33 hasta las 3:00 a.m.</td>
            </tr>
        </tbody>

        <tfoot>

        </tfoot>
    </table>
    </div>

    <div class="content">
        <a class="map" href="https://www.google.com/maps/place/Universidad+Aut%C3%B3noma+de+Guadalajara/@20.6947053,-103.4203145,17z/data=!3m1!4b1!4m5!3m4!1s0x8428aee580d14005:0x29c32d113930043d!8m2!3d20.6947053!4d-103.4181258">Mapa a UAG</a>
    </div>

    <div class="content">
        <h2>Servicios</h2>
        <p>La Oficina de egresados cuenta con una extensa red de convenios con lo que podemos apoyarlos en conseguir tarifas
            especiales en: hospedaje, alimentos, traslados, servicios de belleza, tours en tequila entre otros. Anexo la
            página donde los pueden consultar
            <a href="http://egresados.uag.mx/beneficios-soy-uag/">http://egresados.uag.mx/beneficios-soy-uag/</a> cualquier duda estoy a sus órdenes.</p>
    </div>

    <div class="content">
        <h2>Programa 06 de Julio</h2>
        <p>16:00 h. Registro (Actualización de datos solo será necesario si no se realizó en línea y entrega de paquete informativo).
        </p>
        <p>16:00h a 16:30h Servicio de trámite de Membresía Soy UAG.
            <br/> Canje sin costo (regresando credencial anterior).
            <br/> Renovación $200.00 mínimo 10 egresados</p>
        <p>16:45 h. Fotografía de grupo. *Servicio de Fotografía Grupal (OPCIONAL). Costo $250.00. Compra mínima de 10 fotografías.
        </p>
        <p>17:00 h. Ceremonia.</p>
        <p>18:00 a 22:00 h Brindis salón de egresados
            <br/> Incluye:
        </p>
        <ul>
            <li>5 canapés por persona</li>
            <li>Refrescos</li>
            <li>Hielos</li>
            <li>2 copa de vino</li>
            <li>Servicio de meseros</li>
            <li>Cristalería</li>
            <li>Mesas de apoyo</li>
        </ul>
        <p>23:00 h 33 Piano Bar Zona Real</p>

        <div class="content">
            <h2>Consta del siguiente programa:</h2>
            <ol>
                <li>Bienvenida</li>
                <li>Himno UAG</li>
                <li>Presentación del Presídium (Autoridades competentes del Área correspondiente y de la Asociación de Egresados)</li>
                <li>Mensajes de las Autoridades</li>
                <li>Entrega de reconocimientos y fistoles a los homenajeados (solo a los egresados confirmados de acuerdo al
                    listado proporcionado por Usted)</li>
                <li>Minuto de oración por los compañeros y profesores fallecidos</li>
                <li>Palabras del egresado representante de la generación</li>
                <li>Despedida</li>
            </ol>
        </div>
    </div>