{{!< default}} 
<div class="content">
    <h1>Status: </h1>
    <h2>Confirmacion</h2>
    <p id="confirmation">{{confirm}}</p>
    </div>
    <div class="content">
        <h1>Confirmar, rechazar o cancelar</h1>
        <div class="buttons" id="buttons">
            <button value="0">Confirmar</button>
            <button value="2">Rechazar</button>
            <button value="3">Cancelar</button>
        </div>
    </div>
    </div>

    {{#contentFor 'scripts'}}
    <script src="js/profile.js"></script> 
    {{/contentFor}}