<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>UAG LIA'88 30 Años</title>
    <link rel="shortcut icon" href="images/uagIcon.jpg" type="image/x-icon">
    <link rel="stylesheet" href="css/register.css">
</head>

<body>
    <div class="wrapper">
        <form action="/signup" method="POST" id="registerForm">
            <Legend>Registro</Legend>
            <br/>
            <div class="row">
                <div class="column">
                    <label for="firstName">Nombre:
                        <span>*</span>
                    </label>
                    <input type="text" name="firstName" id="firstName" placeholder="Ingrese su nombre"
                        required>
                    <br />

                    <label for="apellido">Apellido:
                        <span>*</span>
                    </label>
                    <input type="text" name="lastName" id="lastName" placeholder="Ingrese su apellido" 
                        required>
                    <br />

                    <label for="username">Nombre de Usuario:
                    </label>
                    <input type="text" name="username" id="username" placeholder="Ingrese un nombre de usuario" >
                    <br />

                    <label for="phone">Celular:
                    </label>
                    <input type="text" name="phone" id="phone" placeholder="Ingrese su celular" >
                    <br />

                    <label for="confirmation">Confirmacion al evento:
                    </label>
                    <select name="confirmation" id="confirmation">
                        <option value="0">Confirmado</option>
                        <option value="1" selected>Pendiente</option>
                        <option value="2">Rechazado</option>
                    </select>
                    <br/>
                </div>

                <div class="column">

                    <label for="email">Email:
                        <span>*</span>
                    </label>
                    <input type="email" name="email" id="email" placeholder="Ingrese un email"
                        required>
                    <br/>

                    <label for="emailConfirm">Confirmar Email:
                        <span>*</span>
                    </label>
                    <input type="email" name="emailConfirm" id="emailConfirm" placeholder="Repita su email"
                        required>
                    <br />

                    <label for="password">Password:
                        <span>*</span>
                    </label>
                    <input type="password" name="password" id="password" placeholder="Ingrese una contraseña"
                        required>
                    <br />

                    <label for="passwordconfirm">Confirmar Password:
                        <span>*</span>
                    </label>
                    <input type="password" name="passwordconfirm" id="passwordconfirm" placeholder="Repita su contraseña"
                        required>
                    <br/>
                </div>
            </div>


            <br />
            <div class="links">
                <input type="submit" value="Registrar" id="register" class="button" />
                <a href="/signin">Regresar al Log in</a>
            </div>

            <input type="hidden" name="comments" value="">
            <input type="hidden" name="role" value=0>
            <input type="hidden" name="visits" value=0>
        </form>
        <br/>
    </div>
    <script src="js/vendor.js"></script>
    <script src="js/register.js"></script>
</body>

</html>