<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>UAG LIA'88 30 Años</title>
    <link rel="shortcut icon" href="images/uagIcon.jpg" type="image/x-icon">
    <link rel="stylesheet" href="css/index.css">
</head>

<body>
    <div class="wrapper">
        <form action="/signin" method="POST" class="login" id="login">
            <legend>Login</legend>
            <br/>
            <input type="text" name="username" id="username" placeholder="Ingrese su nombre de usuario registrado" required>
            <label for="username">Nombre de usuario</label>
            <br/>
            <input type="password" name="password" id="password" placeholder="Ingrese su password" required>
            <label for="password">Password</label>
            <br/>

            <button>Ingresar</button>
            <br/>
            <a href="/signup">Registar</a>
        </form>
        <a href="/forgotPass">Olvido su contraseña?</a>
    </div>
    <script src="js/vendor.js"></script>
    <script src="js/signin.js"></script>
</body>

</html>