<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>UAG LIA'88 30 Años</title>
    <link rel="shortcut icon" href="images/uagIcon.jpg" type="image/x-icon">
    <link rel="stylesheet" href="css/board.css" />
</head>

<body>

    <div class="wrapper">
        <div class="logo shrinked">
            <div class="uag"></div>
        </div>

        {{> navbar}} 
        {{{ body }}}

    </div>
    <script src="js/vendor.js"></script>
    <script src="js/nav.js"></script>
    {{{block 'scripts'}}}
</body>

</html>