<nav class="navbar" id="nav">
    <div class="uag wider"></div>
    <div class="logo wider"></div>

    {{#list navigator}}
        <li class={{class}} name={{name}}>{{text}}</li>
    {{/list}}
</nav>
