<nav class="navbar" id="nav">
    <div class="uag wider"></div>
    <div class="logo wider"></div>

    {{#list navigator}}
        <li class={{class}} name={{name}}>{{text}}</li>
    {{/list}}
    {{!-- <ul class="navigator"> --}}

        {{!-- <li name="profile">Perfil</li> --}}
        {{!-- <li class="hidden" name="admin">Admin</li> --}}
        {{!-- <li name="logout">Logout</li> --}}
    {{!-- </ul> --}}
</nav>
